<app-navbar [user]="user" [userId]="userId"></app-navbar>
<div class="wrapper">
  <div class="title">
    <h1>Your Cart</h1>
  </div>

  <div class="emptyMsg" *ngIf="isCartEmpty"> <h2>Your cart is currently empty</h2> </div>

  <div class="body">

    <div *ngIf="!isCartEmpty" class="main-body">
      <div class="column">
        <div class="miniHeading">Image</div>
        <div *ngFor="let item of products" class="image" style="height:100px; width: 100px">
          <img
            src="{{ item.product.imgsrc }}"
            alt="product image"
            width="100px"
            height="100px"
          />
        </div>
      </div>
      <div class="column">
        <div class="miniHeading">Name</div>
        <div *ngFor="let item of products" class="itemdetails">
          {{ item.product.name }}
        </div>
      </div>
      <div class="column">
        <div class="miniHeading">Quantity</div>
        <div *ngFor="let item of products" class="itemdetails">
          {{ item.quantity }}
        </div>
      </div>
      <div class="column">
        <div class="miniHeading">Price</div>
        <div *ngFor="let item of products" class="itemdetails">
         Rs.{{ item.product.price }}
        </div>
      </div>
      <div class="column">
        <div class="miniHeading">Change Quantity</div>
        <div *ngFor="let item of products" class="itemdetails">
          <button
            style="margin-right: 5px"
            class="incDecBtn btn btn-primary"
            (click)="increaseQuantity(item.product.id)"
          >
            +
          </button>
          <button class="incDecBtn btn btn-secondary" (click)="decreaseQuantity(item.product.id)">
            -
          </button>
        </div>
      </div>
      <div class="column">
        <div class="miniHeading">Subtotal</div>
        <div *ngFor="let item of products" class="itemdetails">
          Rs.{{ item.quantity * item.product.price }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isCartEmpty" class="footer">
    <div class="total">Total: Rs.{{ totalPrice }}</div>
    <div class="order">
      <button class="btn btn-primary">Place order</button>
    </div>
  </div>
</div>
