<nav>
  <div (click)="goToHome()" class="hoverpoint"><h1>My Mart</h1></div>
  <div>
    <h3>Welcome {{ user.name }}</h3>
  </div>
  <div (click)="goToCart()" class="rightalign right hoverpoint">
    <a> <fa-icon [icon]="carticon"></fa-icon> Cart </a>
  </div>
  <!-- *ngIf="isAdmin"  -->
  <div (click)="goToProducts()" *ngIf="isAdmin"  class="right hoverpoint">  
    <fa-icon [icon]="plusicon"></fa-icon> <a> Modify Products </a>
  </div>
  <div (click)="logOutUser()" class="right hoverpoint">
    <a><fa-icon [icon]="usericon"></fa-icon> SignOut</a>
  </div>
</nav>
