<app-navbar [user]="user" [userId]="userId"></app-navbar>
<div style="display: flex; background-color: rgb(189, 203, 209)">
  <div class="card-group" style="width: 75%">
    <app-product-card
      *ngFor="let item of items"
      [product]="item"
      [userId]="userId"
    ></app-product-card>
  </div>
  <div style="flex-grow: 1; background-color: aqua">
    <div class="formDiv">
      <form #userForm="ngForm">
        <h3>Filters</h3>
        <div class="form-group">
          <label for="category">Select category:</label>
          <select name="category" id="category" class="form-control">
            <option value="Food">Food</option>
            <option value="Electronics">Electronics</option>
            <option value="Clothing">Clothing</option>
          </select>
        </div>
        <div class="form-group">
          <label for="subcategory">Select subcategory:</label>
          <select name="subcategory" id="subcategory" class="form-control">
            <option value="Fruit">Fruit</option>
            <option value="Vegetable">Vegetable</option>
            <option value="Shirt">Shirt</option>
            <option value="Pant">Pant</option>
            <option value="Mobile">Mobile</option>
            <option value="Laptop">Laptop</option>
          </select>
        </div>
        <button class="submitBtn btn btn-primary">Submit</button>
      </form>
    </div><hr>
    <div class="searchDiv">
      <h4>Search: </h4>
      <form>

      </form>
    </div>
  </div>
</div>
