<div class="wrapper">
  <h1>Sign up</h1>

  <form #userForm="ngForm">
    <div class="form-group">
      <br />
      <label for="name">Name: <sup>*</sup> </label>
      <input
        type="text"
        id="name"
        name="name"
        #nameref="ngModel"
        [class.is-invalid]="nameref.invalid && nameref.touched"
        required
        class="form-control"
        [(ngModel)]="signUpDetails.name"
      /><small
        class="text-danger"
        [class.d-none]="nameref.valid || nameref.untouched"
        >Name is required</small
      >
    </div>

    <div class="form-group">
      <label for="email">Email: <sup>*</sup> </label>
      <input
        type="text"
        id="email"
        name="email"
        #emailref="ngModel"
        [class.is-invalid]="emailref.invalid && emailref.touched"
        required
        class="form-control"
        [(ngModel)]="signUpDetails.email"
      /><small
        class="text-danger"
        [class.d-none]="emailref.valid || emailref.untouched"
        >Email is required</small
      >
    </div>

    <div class="form-group">
      <label for="password">Password: <sup>*</sup></label>
      <input
        type="password"
        id="password"
        #pwdref="ngModel"
        name="password"
        [class.is-invalid]="pwdref.invalid && pwdref.touched"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.password"
      /><small
        class="text-danger"
        [class.d-none]="pwdref.valid || pwdref.untouched"
        >Password is required</small
      >
    </div>

    <div class="form-group">
      <label for="phone">Phone: </label>
      <input
        type="number"
        id="phone"
        name="phone"
        class="form-control"
        [(ngModel)]="signUpDetails.phone"
      />
    </div>

    <div class="form-group">
      <label for="street">Street: </label>
      <input
        type="text"
        id="street"
        name="street"
        class="form-control"
        [(ngModel)]="signUpDetails.address.street"
      />
    </div>

    <div class="form-group">
      <label for="city">City: </label>
      <input
        type="text"
        id="city"
        name="city"
        class="form-control"
        [(ngModel)]="signUpDetails.address.city"
      />
    </div>

    <div class="form-group">
      <label for="state">State: </label>
      <input
        type="text"
        id="state"
        name="state"
        class="form-control"
        [(ngModel)]="signUpDetails.address.state"
      />
    </div>

    <div class="form-group">
      <label for="pincode">Pincode: </label>
      <input
        type="number"
        id="pincode"
        name="pincode"
        class="form-control"
        [(ngModel)]="signUpDetails.address.pincode"
      />
    </div>

    <button
      id="submitbtn"
      (click)="signUpUser()"
      class="btn btn-primary"
      type="submit"
      [disabled]="userForm.invalid"
    >
      Submit form
    </button>
  </form>

  <div><a href="/login">back to login</a></div>
</div>
