<div class="wrapper">
  <h1>Sign up</h1>

  <form #userForm="ngForm">
    <div class="form-group">
      <br />
      <label for="name">Name: </label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.name"
      />
    </div>

    <div class="form-group">
      <label for="email">Email: </label>
      <input
        type="text"
        id="email"
        name="email"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.email"
      />
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.password"
      />
    </div>

    <div class="form-group">
      <label for="phone">Phone: </label>
      <input
        type="number"
        id="phone"
        name="phone"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.phone"
      />
    </div>

    <div class="form-group">
      <label for="street">Street: </label>
      <input
        type="text"
        id="street"
        name="street"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.address.street"
      />
    </div>

    <div class="form-group">
      <label for="city">City: </label>
      <input
        type="text"
        id="city"
        name="city"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.address.city"
      />
    </div>

    <div class="form-group">
      <label for="state">State: </label>
      <input
        type="text"
        id="state"
        name="state"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.address.state"
      />
    </div>

    <div class="form-group">
      <label for="pincode">Pincode: </label>
      <input
        type="number"
        id="pincode"
        name="pincode"
        class="form-control"
        required
        [(ngModel)]="signUpDetails.address.pincode"
      />
    </div>

    <button
      id="submitbtn"
      (click)="signUpUser()"
      class="btn btn-primary"
      type="submit"
    >
      Submit form
    </button>
  </form>

  <div><a href="/login">back to login</a></div>
</div>
